{% extends "teste/base.html" %}
{% block body_block %}
{% load static %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="box">Meus Filmes</h2>
        </div>
    </div>
    <div class="row boxMovie">
        {% if favorite_movies  %}
        {% for movie in favorite_movies %}
        <div class="col-sm-3">
            <div class="list-group">
                <span class="list-group-item rounded mx-auto d-block"><a href="{% url 'teste:info' movie.movie.id %}"><img class="poster" src="/{{movie.movie.poster}}"></span></a>
            </div>
            <div class="col"><hr></div>
            <a href="{% url 'teste:delete' movie.id %}" class="btn btn-dark mr-sm-2 my-2 my-lg-0" role='button' style="margin-left: 15px;">
                <img src=" {% static 'images/icons/x-button.png' %}" id="icon" alt="">
                <span> Remover da minha lista</span>
            </a>
            <div class="col"><hr></div>
        </div>
        {% endfor %}
    
    </div>
    {% else %}
    </div>
    <div class="box">
        <h2>Nenhum filme adicionado a lista</h2>
    </div>
        
    {% endif %}       
</div>

{% endblock body_block %}