{% extends "teste/base.html" %}

{% block body_block %}
<div class="container">
    <div class="jumbotron">
        {% if registered %}
        <h1>Obrigado por se cadastrar!</h1>
        {% else %}
        <h1>Cadastre-se aqui!</h1>
        <form enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            {{ user_form.as_p }}
            <input type="submit" name="" value="Register">
        </form>

        {% endif %}

    </div>

</div>
    
{% endblock body_block %}